<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div ng-controller="helloAngular">
        <input type="text" ng-model="person.firstName"><br/>
        <input type="text" ng-model="person.lastName"><br/>
        全{{person.fullName()}}
    </div>
    <div ng-controller="namesController">
        <input type="text" ng-model="name">
        <ul>
            <li ng-repeat="x in names | filter:name">
            {{x.name + '--' + x.country | uppercase}}
            </li>
        </ul>
    </div>
    <script>
        function helloAngular($scope) {
            $scope.person = {
                firstName:"JOHN",
                lastName:"JACK",
                fullName:function() {
                    var x;
                    x = $scope.person;
                    return x.firstName + " " + x.lastName;
                }
            };
        }

        function namesController($scope) {
            $scope.names = [
                {name:"ni1", country:"dhina"},
                {name:"ni2", country:"china"},
                {name:"ni3", country:"Janpa"}
            ];
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
</body>
</html>
